<a href="https://colab.research.google.com/github/Obliqueflo/py23/blob/master/notebook/ch2_code02_py23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch2_code02.ipynb
## py23
- List
- Tuple

In [5]:
# ch2_04_list.py

print("리스트: list 란?")
odd = [1, 3, 5, 7, 9] # (), {}, []
odd
odd, type(odd)
# 여러 가지 리스트
a = []   # list 초기화 ,null list
a
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
c
d = [1, 2, 'Life', 'is']  #inhomogeneous elements : 데이터의 구조가 다른 항목들을 list에 저장 (in python)
d
e = [1, 2, ['Life', 'is']]   #nested list :  리스트 안에 또다른 리스트
e
print("e= ", e, ",d= ", d)

리스트: list 란?
e=  [1, 2, ['Life', 'is']] ,d=  [1, 2, 'Life', 'is']

In [6]:
# list 초기화
# a = []
a = list()
a   # []

[]

In [8]:
b = list((1, 2, 3)) 
b

[1, 2, 3]

### 리스트의 인덱싱과 슬라이싱

In [10]:
print("리스트: 리스트의 인덱싱과 슬라이싱")
a = [1, 2, 3]
a
a[0]  
a[3]  #list index out of range
a[0]+a[2]
a[-1]

리스트: 리스트의 인덱싱과 슬라이싱

[1, 2, 3]

In [13]:
#
a = [1, 2, 3, ['a', 'b', 'c']]  #2차원 구조의 list
a[0]
a[3]
a[-1]
# # chaek this: a[0] + a[-1] -> TypeError
a[0] + a[-1]  #unsupported operand type(s) for +: 'int' and 'list'  #정수 + list는 더할 수 없음(python)
# # Indexing inner list
a[-1][0]  # 2차원(다차원) 데이터 구조

'c'

In [14]:
#도전!
a[-1][-1]

'c'

### triple list(삼중리스트)

In [15]:
# Indexing of triple list
# 삼중 리스트에서 인덱싱하기
a = [1, 2, ['a', 'b', ['Life', 'is', 'good']]]  # 3차원 구조의 list
a[2]  # a[-1]
a[2][-1]
a[2][-1][-1]   # 'good' # !!!!시험 출제 가능!!!!

'good'

### 리스트의 슬라이싱

In [17]:
#
# 리스트의 슬라이싱(전체에서 일부분을 지정하는,,)
a1 = [1, 2, 3, 4, 5]
a1[0:2]
a2 = "12345" #문자열
a2[0:2]  #문자열도 indexing
a1[0:2], a2[0:2]  #list출력, 문자열 출력(부모구조는 유지됨)

([1, 2], '12')

In [18]:
#
a = [1, 2, 3, 4, 5]
a[0:2]
a[2:]
a[0:4:2]  # a[start:end:step]/ step : 그 값(수)만큼 jump하는 것

[1, 3]

### 중첩된 리스트에서 슬라이싱하기

In [19]:
#
# 중첩된 리스트에서 슬라이싱하기
#
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]  #서브 슬라이싱..
a[2:5]
a[3][:2]

['a', 'b']

In [20]:
# !!!!! 시험 출제 !!!!!
# 리스트: 인덱싱, 슬라이싱 연습
#
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x[0:3]
x[3:]
x[:6]
x[0:6:2]  # x[:6:2]
x[-1]
x[-3]
x[:-3]
x[::-1] # 처음부터 끝까지 !순서를 거꾸로 하여 counting!
x[-3::-1]

[7, 6, 5, 4, 3, 2, 1]

### 리스트 연산하기

In [22]:

x[::-1]
x[-3::-1]
#
###################################
print("리스트: 리스트 연산하기")
###################################
#
# 리스트 더하기(+)
#
a = [1, 2, 3]
b = [4, 5, 6]
a + b

리스트: 리스트 연산하기

[1, 2, 3, 4, 5, 6]

In [24]:
#
# 리스트 반복하기(*)
#
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [25]:
#
# 리스트의 길이 구하기
#
len(a), len(a *3)

(3, 9)

In [26]:
#
# 초보자가 범하기 쉬운 리스트 연산 오류
#
a = [1, 2, 3]
#a[2] + "hi" #정수 + 문자열은 더할 수 없다(python)
str(a[2]) + "hi"  #형변환(숫자 3-->문자열로)

'3hi'

### 리스트 수정과 삭제

In [27]:
#
# 리스트의 수정과 삭제
#
a = [1, 2, 3]
a[2] = 4  # list is mutable!!!(리스트 항목들이 변화할 수 있다)
a

[1, 2, 4]

In [28]:
#
# del 함수 사용해 리스트 요소(항목) 삭제!하기
#
a = [1, 2, 3]
del a[1]  #인덱싱을 이용한 요소 삭제
a
a = [1, 2, 3, 4, 5]
del a[2:] #슬라이싱을 이용한 요소 삭제
a

[1, 2]

### 리스트 관련 함수들

In [29]:
# ch2_05_list_functions.py

print("리스트: 내부 함수 이용")
#
# 리스트에 요소 추가(append)
#
a = [1, 2, 3]
a.append(4)
a
# 리스트 안에는 어떤 자료형도 추가할 수 있다.
# 리스트에 또 다른 리스트를 추가한 결과
a.append([5, 6])
a #list의 구조가 추가됨

리스트: 내부 함수 이용

[1, 2, 3, 4, [5, 6]]

In [30]:
#
# 리스트 정렬(sort) # 각각의 항목들이 default정렬 방식으로 출력된다

#
a = [1, 4, 3, 2]
a.sort()
a   
s = ["a", "c", "b"]
s.sort()
s

['a', 'b', 'c']

In [31]:
#
# 리스트 뒤집기(reverse)
#
a = ["a", "c", "b"]
a.reverse()
a, a[::-1]

(['b', 'c', 'a'], ['a', 'c', 'b'])

In [39]:
#
# 위치 반환(index)
#    0  1  2
a = [1, 2, 3]
# 값!의 인덱스 구하기
a.index(3)
a.index(1)
a.index(0)  #ValueError: 0 is not in list

s = ["a", "c", "b"]
s.index(3)  #ValueError: 3 is not in list
s.index(a)  # Error->ValueError: [1, 2, 3] is not in list #문자열a가 아닌 값으로 입력된다, 위의 a라는 list값이 없다고 입력된다
s.index("a"), s.index("b")

0

In [40]:
#
# 리스트에 요소 삽입(insert)
#
a = [1, 2, 3]
a.insert(0, 4)  #0번 인덱스에 값 4를 넣어라
a
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [0]:
#
# 리스트 요소 제거(remove)
#
a = [1, 2, 3, 1, 2, 3]  # list는 중복 값을 허용하는 데이터 구조
a.remove(3) #()안에 인덱스 값 아님
a
# 3을 리스트 a에서 완전히 제거
a.remove(3)
#a
#a.remove(3)  # ValueError

In [43]:
a

[1, 2, 1, 2]

In [44]:
a.remove(3) #ValueError: list.remove(x): x not in list

ValueError: ignored

In [45]:
#
# 리스트 요소 끄집어내기(pop)
#
#
# 리스트의 수정과 삭제
#
a = [1, 2, 3]
# pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다.
a.pop()
a

[1, 2]

In [48]:

#
a = [1, 2, 3]
# pop(x)는 리스트의 index가 x인 요소를 돌려주고 그 요소는 삭제한다.
r = a.pop(1)  #해당 INDEX값을!
r, a #(2, [1, 3])
a.pop(2)  # IndexError: pop index out of range

IndexError: ignored

In [49]:
#
# 리스트에 포함된 요소 x의 개수 세기(count)
#
a = [1, 2, 3, 1]
a.count(1)

2

In [50]:
#
# 리스트 확장(extend)
#
a = [1, 2, 3]
a.extend([4, 5])  #f리스트가 추가된 게 아니라 각 요소들이 독립적으로 추가된다
a  # a.extend([4, 5])는 a += [4, 5]와 동일

b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 (tuple)-데이터 타입

In [51]:
# ch2_06_tuple.py

print("튜플: tuple 이란?")
# !!리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.!!
# 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 !!!튜플은 그 값을 바꿀 수 없다.!!!

even = (2, 4, 6, 8)
even

튜플: tuple 이란?

(2, 4, 6, 8)

In [0]:
# 여러 가지 튜플
t1 = ()  # 튜플 초기화, or t1 = tuple() (tuple 객체의 생성자를 이용하여서)
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3  #자동으로 tuple처리된다
t5 = ("a", "b", ("ab", "cd"))
# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
# 콤마(,)를 반드시 붙여야 한다는 것과
# t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.

In [56]:
t2n = (1) #t2 = (1,), #t2n은 튜플이 아닌 정수 1을 가진 변수다
t2, t2n

(1,)

In [57]:
type(t2), type(t2n)

(tuple, int)

### 여기부터

In [0]:

#####################################################
#
# 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?
#
# 1. 튜플 요솟값을 삭제하려 할 때
t1 = (1, 2, "a", "b")
del t1[0]  # Error
#
# 2. 튜플 요솟값을 변경하려 할 때
#
t1[0] = "c"  # TypeError
#
#
print("튜플: 사용방법")
#
# 인덱싱하기
#
t1 = (1, 2, "a", "b")
t1[0]
t1[3]
#
# 슬라이싱하기
#
t1 = (1, 2, "a", "b")
t1[1:]
t1[2:-1]  # ('a',)
t1[2:]
#
# 튜플 더하기
#
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2
#
# 튜플 곱하기
#
t2 = (3, 4)
id(t2)
t2 * 3
id(t2)
t2 = t2 * 3
id(t2)
#
# 튜플 길이 구하기
#
t1 = (1, 2, "a", "b")
len(t1)