<a href="https://colab.research.google.com/github/Obliqueflo/py23/blob/master/notebook/ch3_code02_PY23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# 코드로 형식 지정됨
```

# ch3_code02.ipynb
## py23  (change to your id)
---
- 반복문: for
    - for ~ in ***:
    - range()
---

- **리스트 내포(List comprehension)**

***
- **for 문과 iterator**
    - for ~ range()
    - for ~ enumerate()
    - for ~ zip()

In [1]:
# ch3_03_for.py
#
print("for 문은 어떻게 사용?")
# 반복해서 문장을 수행해야 할 경우 for문을 사용한다. 

############################
print("for문의 기본 구조")
'''
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...
'''

for 문은 어떻게 사용?
for문의 기본 구조

'\nfor 변수 in 리스트(또는 튜플, 문자열):\n    수행할 문장1\n    수행할 문장2\n    ...\n'

In [2]:
#
############################
print("예제를 통해 for문 이해하기")
############################
#
# 1. 전형적인 for문
#
test_list = ['one', 'two', 'three'] 
for i in test_list:
    print(i)

예제를 통해 for문 이해하기
one
two
three

In [6]:
# 데이터 구조안에 각각의 데이터들을 for문에서 하나씩 받아 실행 과정
my_list = [10, 20, 30, 40, 50]
for index in my_list:
    print(index)
    print(index*2)

10
20
20
40
30
60
40
80
50
100

In [7]:
#
# 2. 다양한 for문의 사용
#
a = [(1,2), (3,4), (5,6)]

# 튜플의 각각의 2개의 항목을 각각 first, last로 받는다는 것
for (first, last) in a:
    print(first + last)

3
7
11

In [8]:
#
# 3. for문의 응용
#
# "총 5명의 학생이 시험을 보았는데 시험 점수가 60점이 넘으면 
# 합격이고 그렇지 않으면 불합격이다. 
# 합격인지 불합격인지 결과를 보여 주시오."
#
# marks1.py
#
marks = [90, 25, 67, 45, 80]

number = 0  # 초기화 !!!!
for mark in marks: 
    number = number +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)
    

###################################
# cmd에서 실행하시오.
# python marks1.py
# run marks1.py (colab환경에서 notebook이 아닌? 직접 소스코드를 만들어 실행)
###################################

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [9]:
run marks1.py   # 기본적인 실행 방법 코드

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [10]:
#
###################################
print("for문과 continue")
###################################
# for문 안의 문장을 수행하는 도중에 continue문을 만나면 
# for문의 처음으로 돌아가게 된다.
#
# 앞에서 for문 응용 예제를 그대로 사용해서 60점 이상인 사람에게는 
# 축하 메시지를 보내고 나머지 사람에게는 아무 메시지도 전하지 않는 
# 프로그램을 작성.
#
# marks2.py 
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60:
        continue  # 60점 미만이면 for문 처음으로 돌아가서 다음 데이터 관해서 실행 
    print("%d번 학생 축하합니다. 합격입니다. " % number)



###################################
# cmd에서 실행하시오.
# python marks2.py
###################################

for문과 continue
1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [11]:
run marks2.py

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

### range()
- range(start, end)
- range(srart, end, step)
- range(end)

In [14]:
a1 = range(5) # range(0, 5)
print (a1)
list(a1)  #range에 담겨있는 것을 list함수로 하여 ,,,

range(0, 5)

[0, 1, 2, 3, 4]

In [15]:
a2 = range(0, 10, 2)
list(a2)

[0, 2, 4, 6, 8]

In [16]:
#
###################################
print("for문과 함께 자주 사용하는 range 함수")
# range(number)
# range(시작 숫자, 끝 숫자)
###################################
#
a = range(10)
a #객체 생성?
list(a)   #la = list(a)

a = range(1, 11)
a #객체 생성?
list(a)

for문과 함께 자주 사용하는 range 함수

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
#결과값 고르는 문제 나옴!!!!!!!!!!!!!!!!!!!!speed quiz
# range 함수를 이용한 코드
#
add = 0 
for i in range(1, 11): 
    add = add + i

print(add)

55

In [18]:
a = range(10)
b = [1, 2, 3]
len(a), len(b)

10

In [19]:
#marks3.py
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: #number가 0~4
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))


###################################
# cmd에서 실행하시오.
# python marks3.py
###################################

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [20]:
run marks3.py

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [23]:
#
###################################
print("for와 range를 이용한 구구단")
# for와 range 함수를 사용하면 
# 소스 코드 단 4줄만으로 구구단을 출력
###################################
#
# 중첩 for 문
for i in range(2,10):         # ①번 for문 (i-loop)
     for j in range(1, 10):   # ②번 for문 (j-loop)
         print(i*j, end=" ") 
     print('')   # 줄 바꿈

for와 range를 이용한 구구단
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [24]:


# 아래와 같이 출력하도록 코드를 변경해보시오.
#############################################################
# 2 X 1 = 2 2 X 2 = 4 2 X 3 = 6 2 X 4 = 8 2 X 5 = 10 2 X 6 = 12 2 X 7 = 14 2 X 8 = 16 2 X 9 = 18
# 3 X 1 = 3 3 X 2 = 6 3 X 3 = 9 3 X 4 = 12 3 X 5 = 15 3 X 6 = 18 3 X 7 = 21 3 X 8 = 24 3 X 9 = 27
# 4 X 1 = 4 4 X 2 = 8 4 X 3 = 12 4 X 4 = 16 4 X 5 = 20 4 X 6 = 24 4 X 7 = 28 4 X 8 = 32 4 X 9 = 36
# 5 X 1 = 5 5 X 2 = 10 5 X 3 = 15 5 X 4 = 20 5 X 5 = 25 5 X 6 = 30 5 X 7 = 35 5 X 8 = 40 5 X 9 = 45
# 6 X 1 = 6 6 X 2 = 12 6 X 3 = 18 6 X 4 = 24 6 X 5 = 30 6 X 6 = 36 6 X 7 = 42 6 X 8 = 48 6 X 9 = 54
# 7 X 1 = 7 7 X 2 = 14 7 X 3 = 21 7 X 4 = 28 7 X 5 = 35 7 X 6 = 42 7 X 7 = 49 7 X 8 = 56 7 X 9 = 63
# 8 X 1 = 8 8 X 2 = 16 8 X 3 = 24 8 X 4 = 32 8 X 5 = 40 8 X 6 = 48 8 X 7 = 56 8 X 8 = 64 8 X 9 = 72
# 9 X 1 = 9 9 X 2 = 18 9 X 3 = 27 9 X 4 = 36 9 X 5 = 45 9 X 6 = 54 9 X 7 = 63 9 X 8 = 72 9 X 9 = 81
#############################################################
# 
for i in range(2,10):        # ①번 for문
     for j in range(1, 10):   # ②번 for문
         print(i, "X", j, "=", i*j, end="  ") # print출력문 꼴을 바꾼다
     print('') # 줄바꿈

2 X 1 = 2  2 X 2 = 4  2 X 3 = 6  2 X 4 = 8  2 X 5 = 10  2 X 6 = 12  2 X 7 = 14  2 X 8 = 16  2 X 9 = 18
3 X 1 = 3  3 X 2 = 6  3 X 3 = 9  3 X 4 = 12  3 X 5 = 15  3 X 6 = 18  3 X 7 = 21  3 X 8 = 24  3 X 9 = 27
4 X 1 = 4  4 X 2 = 8  4 X 3 = 12  4 X 4 = 16  4 X 5 = 20  4 X 6 = 24  4 X 7 = 28  4 X 8 = 32  4 X 9 = 36
5 X 1 = 5  5 X 2 = 10  5 X 3 = 15  5 X 4 = 20  5 X 5 = 25  5 X 6 = 30  5 X 7 = 35  5 X 8 = 40  5 X 9 = 45
6 X 1 = 6  6 X 2 = 12  6 X 3 = 18  6 X 4 = 24  6 X 5 = 30  6 X 6 = 36  6 X 7 = 42  6 X 8 = 48  6 X 9 = 54
7 X 1 = 7  7 X 2 = 14  7 X 3 = 21  7 X 4 = 28  7 X 5 = 35  7 X 6 = 42  7 X 7 = 49  7 X 8 = 56  7 X 9 = 63
8 X 1 = 8  8 X 2 = 16  8 X 3 = 24  8 X 4 = 32  8 X 5 = 40  8 X 6 = 48  8 X 7 = 56  8 X 8 = 64  8 X 9 = 72
9 X 1 = 9  9 X 2 = 18  9 X 3 = 27  9 X 4 = 36  9 X 5 = 45  9 X 6 = 54  9 X 7 = 63  9 X 8 = 72  9 X 9 = 81

### list 내포

In [25]:
# 여러개의 복잡한 구조의 데이터를 간단하게 한 줄로 만들어서 리스트에 담는 방법...
#######################################
print("리스트 내포(List comprehension)")
#######################################
#

a = [1,2,3,4]
result = [] #list 초기화 
for num in a:
    result.append(num*3) # 새로운 result리스트에 append


print(result)

리스트 내포(List comprehension)
[3, 6, 9, 12]

In [26]:
result

[3, 6, 9, 12]

In [27]:
# 퀴즈 시험 출제 !!!!!!!!!!!!!!!!!!!!
# 리스트 내포
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [29]:
#
#############################################
print("리스트 내포의 일반 문법")
#
# [표현식 for 항목 in 반복가능객체 if 조건문]
# -----------------------------------------
#
# 일반화
# [표현식 for 항목1 in 반복가능객체1 if 조건문1
#         for 항목2 in 반복가능객체2 if 조건문2
#         ...
#         for 항목n in 반복가능객체n if 조건문n]
##############################################
#
# 예1. 구구단의 모든 결과를 리스트에 담는 코드
#
result = [x*y for x in range(2,10) for y in range(1,10)]

리스트 내포의 일반 문법

In [31]:
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [32]:
len(result)

72

In [34]:
#
# 예2. 9 이하의 정수 중 짝수는 2배로, 홀수는 그대로 리스트에 담는 코드
#
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]  # -> [1, 4, 3, 8, 5, 12, 7, 16, 9]
result = []
for idx in range(len(x)):
    if x[idx] % 2 == 0:
        result.append(x[idx] * 2)
    else:
        result.append(x[idx])
result
#
# 짝수만 추출하여 2배로 만든 리스트 구성
[element * 2 for element in x if element % 2 == 0]
# 그러면 짝수는 2배로, 홀수는 그대로 리스트에 담는 코드는?
[(element * 2 if element % 2 == 0 else element) for element in x]

[1, 4, 3, 8, 5, 12, 7, 16, 9]

In [33]:
# 결과값 맞추는 퀴즈 시험 출제!!!!!!!!!!!!!!!!!!!!!!
x = [1, 2, 3, 4]
[(element * 2 if element % 2 == 0 else element) for element in x]

[1, 4, 3, 8]

## for문 그리고 iterator
- range()
- enumerate()
- zip()

In [1]:
# ch3_04_for_iterates.py
#
############################
print("for 문과 iterator")
############################
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
#
print("과목명 출력")
for subject in subjects:
    print(subject)


#
print("과목 점수 출력")
for score in scores:
    print(score)

    for index in range(len(subjects)):
      print(subjects[index], scores[index])

for 문과 iterator
과목명 출력
python
english
math
science
과목 점수 출력
88
python 88
english 77
math 66
science 95
77
python 88
english 77
math 66
science 95
66
python 88
english 77
math 66
science 95
95
python 88
english 77
math 66
science 95

### enumerate()를 이용한 출력

In [4]:
#
print("enumerate()를 이용한 출력")
for position, subject in enumerate(subjects): # position:인덱스를 뜻 함
    print(position,subject)

enumerate()를 이용한 출력
0 python
1 english
2 math
3 science

In [8]:
#
for position, subject in enumerate(subjects):
    print(subjects[position])   # 좋지 않은 코드 # 인덱싱하여 출력하는 것(여태 했던 방식과 그저 같음)

python
english
math
science

In [9]:
# 도전 [DIY]

print("enumerate()를 이용하여 점수를 출력해보시오.")
#
#
for position, score in enumerate(scores):
    print(scores[position]) # 좋지 않은 코드 # 인덱싱하여 출력하는 것(여태 했던 방식과 그저 같음)

enumerate()를 이용하여 점수를 출력해보시오.
88
77
66
95

In [10]:


#
############################
print("for 문과 itrator의 응용: 복합 문자열 리스트")
############################
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
# Method-1
for position in range(len(subjects)):
    subject = subjects[position]
    score = scores[position]
    print(subject, score)

for 문과 itrator의 응용: 복합 문자열 리스트
python 88
english 77
math 66
science 95

In [11]:
# Method-2
for position, subject in enumerate(subjects):
    score = scores[position]
    print(subject, score)

python 88
english 77
math 66
science 95

### zip()

In [15]:
zip(subjects, scores) # subjects리스트와 scores리스트를 zip함수로 묶은 것
list(zip(subjects, scores))

[('python', 88), ('english', 77), ('math', 66), ('science', 95)]

In [16]:
# Method-3
# 2개 이상의 데이터 구조를 항목별로 순서대로 묶을 때 사용
for subject, score in zip(subjects, scores):
    print(subject, score)

python 88
english 77
math 66
science 95

In [19]:
# 응용 코드 : 평균 성적을 구하시오.
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]

average = 0
total = 0
for subject, score in zip(subjects, scores):
    total += score
    print(subject, score)
    

print("평균 점수 = {0}".format(total/len(subjects)))

# So Cool!

python 88
english 77
math 66
science 95
평균 점수 = 81.5