<a href="https://colab.research.google.com/github/Obliqueflo/py23/blob/master/notebook/ch4_code01_py23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch4_code01_py23.ipynb
## py23 
- 파이썬 함수
    - 입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 출력
        - 반복되는 부분을 함수로 전환.
        - 코딩을 모듈화
- 매개변수와 인수
- 입력값과 결괏값
    - return
    - 여러 개의 입력을 처리하는 함수(*args)
    - 키워드 파라미터 (kwargs)
    - 매개변수에 초깃값 미리 설정
- lambda 함수 정의 (*함수를 단축하여 이름을 정하지 않고 정의하는 함수)

In [5]:
# ch4_01_function.py
#
print("함수란 무엇인가?")
#######################################
# 입력값을 가지고 어떤 일을 수행한 다음에 
# 그 결과물을 내어놓는 것
#######################################
print("==>>","입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것" )

print("함수를 사용하는 이유는 무엇일까?")
#######################################
# 반복되는 부분을 함수로 전환.
# 코딩을 모듈화
#######################################
print("==>>", "반복되는 부분을 함수로 전환 및 코딩을 모듈화")

함수란 무엇인가?
==>> 입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것
함수를 사용하는 이유는 무엇일까?
==>> 반복되는 부분을 함수로 전환 및 코딩을 모듈화

In [6]:
print("파이썬 함수의 구조")
#######################################
"""
def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>
    ...
"""

파이썬 함수의 구조

'\ndef 함수명(매개변수):\n    <수행할 문장1>\n    <수행할 문장2>\n    ...\n'

In [0]:
def add(a): # 매개변수의 데이터 타입을 지정하지 않아도 된다-->동적타이핑(파이썬)
  print(a)

In [12]:
add(100)
add("py23")

100
py23

In [0]:
#######################################
# add() 함수를 정의
def add(a, b): 
    return a + b

In [6]:
# add() 함수를 사용
a=3
b=4
c=add(a,b)  # return값을 받은 c의 값
print(c)
d = add(3, 4)
print(d)

x=[1,2,3]
y=[4,5,6]
z=x+y
print(z)

7
7
[1, 2, 3, 4, 5, 6]

In [8]:
z = add(x, y)
print(z)

[1, 2, 3, 4, 5, 6]

In [11]:
w = add("Hello ", "Python!")
print(w)

Hello Python!

### 매개변수와 인수

In [12]:
print("매개변수와 인수의 차이를 이해하자!")
#######################################
# 매개변수는 함수에 입력으로 전달된 값을 받는 변수
# 인수는 함수를 호출할 때 전달하는 입력값을 의미
#######################################
# add() 함수에서의 매개변수와 인수
"""
def add(a, b):  # a, b는 매개변수
    return a+b
print(add(3, 4))  # 3, 4는 인수
"""

매개변수와 인수의 차이를 이해하자!

'\ndef add(a, b):  # a, b는 매개변수\n    return a+b\nprint(add(3, 4))  # 3, 4는 인수\n'

In [14]:
print(add(a, b))
print(add(10, 50))

7
60

### 함수의 결과값(return ...)

In [16]:
print("입력값과 결괏값에 따른 함수의 형태")
print("- 입력값 ---> 함수 ----> 결괏값")
#######################################
# 입력값 ---> 함수 ----> 결괏값
#######################################
# 일반적인 함수
# 입력값과 결괏값이 있는 함수
"""
def 함수이름(매개변수):
    <수행할 문장>
    ...
    return 결과값
"""

def add2(a, b):   # add2함수의 내부에서만 존재하는 매개변수 a, b (위의 add함수의 매개변수와 다름)
    result = a + b 
    return result


# 입력값과 결괏값이 있는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)
print("입력값과 결괏값이 있는 함수의 사용법","\n: 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)")
a = add2(3, 4)
print(a)

입력값과 결괏값에 따른 함수의 형태
- 입력값 ---> 함수 ----> 결괏값
입력값과 결괏값이 있는 함수의 사용법
: 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)
7

In [17]:
#######################################
# 입력값이 없는 함수

def say():  # 매개변수(입력값) 없음
    return 'Hi'


# 입력값이 없는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름()
a = say() # 그저 return 값을 받는다
print(a)

Hi

In [20]:
#######################################
# 결괏값이 없는 함수

def add3(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))


# 결괏값이 없는 함수의 사용법
# 함수이름(입력인수1, 입력인수2, ...)
add3(3, 4)

# 다음 결과는 무엇인가?
a = add3(3, 4)
print(a)
# a는 return으로 받는 값이 없기 때문에 None을 return(할당)한다

3, 4의 합은 7입니다.
3, 4의 합은 7입니다.
None

In [21]:
#######################################
# 입력값도 결괏값도 없는 함수

def say2(): 
    print('Hi')


# 입력값도 결괏값도 없는 함수의 사용법
# 함수이름()
say()

'Hi'

### Important Part

In [23]:

#######################################
print("매개변수의 값을 지정하여 호출하기")
#######################################
def add4(a, b):
    return a+b


result = add4(a=3, b=7)  # 키워드 타입으로 # a에 3, b에 7을 전달
print(result)

# 매개변수의 순서에 상관없이 사용
print("매개변수의 순서에 상과없이 사용")
result = add4(b=5, a=3)  # b에 5, a에 3을 전달
print(result)

매개변수의 값을 지정하여 호출하기
10
매개변수의 순서에 상과없이 사용
8

In [24]:
result3 = add4(a = 3, 7)  # SyntaxError: positional argument follows keyword argument
print(result3)

SyntaxError: ignored

In [25]:
result3 = add4(7, a = 3)  # TypeError: add4() got multiple values for argument 'a'
                          # a의 인수가 2개로 할당 되어졌다고 받아들임-->error
print(result3)

TypeError: ignored

In [28]:
result3 = add4(b = 7, a = 3) 
print(result3)

10

### Important Part
### * args
- ars : argument(매개변수)

In [3]:
#######################################
print("입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?")
print("- 함수의 매개변수로 할당되는 값들이 지정되지 않을 때, 복수개의 매개변수를 임의로 지정 : *args 사용")
#######################################
"""
def 함수이름(*매개변수): 
    <수행할 문장>
    ...
"""

def add_many(*args):
    result = 0 
    for i in args: 
        result = result + i 
    return result

입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?
- 함수의 매개변수로 할당되는 값들이 지정되지 않을 때, 복수개의 매개변수를 임의로 지정 : *args 사용

In [4]:
add_many(1, 2, 3)
# result값이 출력이 된다.

6

In [6]:
# *args/ 임의 매개변수를 입력으로 input하여 함수를 실행시킬 수 있다
add_many(1, 2, 3)
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [12]:
#######################################
print("여러 개의 입력을 처리하는 함수(*args)")
#######################################
# 일반적인 단일 매개변수, 복수 매개변수 (두개의 타입인 매개변수)
# 복수 매개변수의 의미는 *에 의미 및 정의된다 (*z, *many,,, 와 같이 다른 매개변수로도 사용 가능)
def add_mul(choice, *args): # choice <-- add or mul # *args의 사용 중심적으로 볼 것
    if choice == "add":
        result = 0 
        for i in args:
            result = result + i 
    elif choice == "mul":
        result = 1 
        for i in args: 
            result = result * i 
    return result 

# add
result = add_mul('add', 1,2,3,4,5)
print(result)
# multiply
result = add_mul('mul', 1,2,3,4,5)
print(result)

여러 개의 입력을 처리하는 함수(*args)
15
120

### 키워드 파라미터 **kwargs

In [13]:
#
#######################################
print("키워드 파라미터 **kwargs")
print("{key:value} 딕셔너리!의 형태로 매개변수 사용")
#######################################

def print_kwargs(**kwargs):
    print(kwargs)


# print_kwargs 함수는 매개변수 kwargs를 출력하는 함수
#
print_kwargs(a=1)

print_kwargs(name='foo', age=3)

#
# **kwargs처럼 매개변수 이름 앞에 **을 붙이면 매개변수 
# kwargs는 딕셔너리가 되고 모든 key=value 형태(인수의 형태)의 결괏값이 
# 그 딕셔너리에 저장된다.
#

키워드 파라미터 **kwargs
{key:value} 딕셔너리의 형태로 매개변수 사용
{'a': 1}
{'name': 'foo', 'age': 3}

In [14]:
#######################################
print("함수의 결괏값은 언제나 하나")
#######################################
#
def add_and_mul(a,b): 
    return a+b, a*b

# tuple 구조로 처리된다
# 1, 2 ==> (1, 2)
# add_and_mul() 사용 1.
result = add_and_mul(3,4) # ==> (7, 12)

print(result)

함수의 결괏값은 언제나 하나
(7, 12)

In [15]:
# add_and_mul() 사용 2.
result1, result2 = add_and_mul(3, 4) # tuple(두개의)의 값으로 돌려주기에 받는 변수도 2개의 구조로 각각 받아서..

result1, result2

(7, 12)

### 잘못된 함수 사용

In [16]:
#######################################
print("잘못된 함수")
#######################################
def add_and_mul2(a,b): 
    return a+b 
    return a*b  # Not working!! # return은 함수의 최종 마지막을 의미하고 더 이상 실행하지 않음


result = add_and_mul2(2, 3)
print(result)

잘못된 함수
5

### return의 용도

In [17]:
#######################################
print("return 의 용도: 함수 실행 종료")
#######################################
def say_nick(nick): 
    if nick == "바보": 
        return  # return의 결과값이 없기에 아무 것도 반환되지 않음
    print("나의 별명은 %s 입니다." % nick)  # nick == "바보" 조건이 아니면, print 실행


say_nick("홍길동")
say_nick("바보")

return 의 용도: 함수 실행 종료
나의 별명은 홍길동 입니다.

### 매개변수에 초기값 미리 설정

In [18]:
#----------------------------------------
#######################################
print("매개변수에 초깃값 미리 설정하기")
#######################################
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")
    

say_myself("박응용", 27)  # 매개변수 man은 True로 초기화 설정되었기 때문에 자동으로 True가 되어 실행
say_myself("박응용", 27, True)

say_myself("박응용", 27, False)

매개변수에 초깃값 미리 설정하기
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

In [19]:

def say_myself2(name, man=True, old): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")
# SyntaxError: non-default argument follows default argument
# 디폴트 값을 지정한 매개변수 man = True는 맨 마지막에 지정해야한다
# 초깃값을 설정해 놓은 매개변수 뒤에 
# 초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다
# 초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓는다.
# 키워드형식의 매개변수는 항상 뒤에 지정.

SyntaxError: ignored

In [24]:
def say_myself2(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")

say_myself2("Ji Yebin", 21, False)

나의 이름은 Ji Yebin 입니다.
나이는 21살입니다.
여자입니다.

### (전역 변수 지역 변수 구분하는 시험 문제 출제)
### 함수 안에서 선언한 변수의 효력 범위
- scope of a variable

In [25]:
#######################################
print("함수 안에서 선언한 변수의 효력 범위")
# 전역변수
# 지역 변수, 자동 변수
#######################################

# vartest.py
a = 1 # 전역 변수(모든 파이썬 note에서 사용 가능)
def vartest(a):
    a = a +1  # 지역 변수(매개변수) (정의된 함수 안에서만 존재)

# 전역 변수 a와 지역 변수 a는 완전히 다른 변수이다
vartest(a)  # a ==> 위 정의된 함수 밖에서 함수 호출 및 a를 사용하므로, 전역 변수의 a가 된다
print(a)  # a ==> 전역 변수 a(= 1)를 뜻한다

함수 안에서 선언한 변수의 효력 범위
1

In [29]:
a = 1 # 전역변수 a
def vartest(a): # 지역변수 a(매개변수)
  a = a +1 
  print("지역변수 a =", a)
# vartest(1) # 지역변수의 값을 1로 지정
vartest(a) # 전역변수 a(= 1)를 뜻하며 지정됨 
print("전역변수 a =", a)  # 전역변수 a를 츌력

지역변수 a = 2
전역변수 a = 1

In [31]:
# vartest_error.py
def vartest2(zz):
    zz = zz + 1

vartest2(3)
print(zz)  # NameError: name 'zz' is not defined 
# 변수 zz는 함수 내에서만 접근, 사용, 존재하는 지역변수이므로 함수 밖에서 직접 지역변수를 사용할 수 없다

NameError: ignored

In [37]:
#######################################
print("함수 안에서 함수 밖의 변수를 변경하는 방법")
# return 사용
# global 변수 사용
#######################################
# 1. return 사용하기
a = 1 
def vartest3(a): 
    a = a +1 
    return a

a = vartest3(a) # 전역변수 a(= 1) --> vartest3(a)가 return 해주는 값을 a가 받기 때문에 a(= 2)가 되어버린다. 
print(a)

함수 안에서 함수 밖의 변수를 변경하는 방법
2

In [38]:
# 2. global 명령어 사용하기(가능한 사용하지 않는다,,)
a = 1 
def vartest4(): 
    global a 
    a = a+1

vartest4() 
print(a)

2

### lamda 함수 정의
- 이름 없는 함수를 정의 (무명 함수)

In [39]:
#--------   lambda  -------------------
# 데이터 코딩에서 활발히 사용됨
#######################################
print("lambda")
#######################################
# lambda는 함수를 생성할 때 사용하는 예약어로 def와 동일한 역할을 한다. 
# 보통 함수를 한줄로 간결하게 만들 때 사용한다.
#
# lambda 사용법
#
# lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식
#
print("lambda를 이용한 add 함수")

add = lambda a, b: a+b  # 매개변수 a, b를 a + b 값으로 return해준다 ---> add라는 이름으로 사용

result = add(3, 4)
print(result)

# lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.

lambda
lambda를 이용한 add 함수
7

In [40]:
################################
# lambda 함수의 응용
#
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[-4:])  # x가 리스트 models의 요소가 된다

# So cool!!!

['N-1000', 'T-2000', 'K-3000', 'X-5000']

In [41]:
# vartest.py
a = 1
def vartest(a):
    a = a +1
    # print(a)

vartest(a)
print(a)

1

In [63]:
# scope_test()
x = 5 # 전역변수

def scope_test():
    print(x)
    print(x+5)
    x += 5  # x = x + 5 # UnboundLocalError: local variable 'x' referenced before assignment
                        # x는 전역변수인데, 
                        # 함수 내에서 x를 명시적으로 어떤 값을 할당하게되면 그 때의 x는 지역변수(매개변수)가 되거나 global로 정의가 되어야한다

scope_test()
x += 15
print(x)

UnboundLocalError: ignored

In [0]:
# *args : multiple parameters 임의의 개수의 매개변수를 담을 때 사용 (메모리형 매개변수,,,)
# 복수 매개변수 

def args_test(*args): # 함수의 매개변수는 튜플형 !!!
    print(type(args)) # args가 mutiple parameters를 담고 있는 변수이름
    print(args)
    for arg in args:
        print(arg)


# args_test(1, 2, 3, 4)
# args_test(list(range(4)))

In [65]:
args_test(1, 2, 3, 4) # 튜플 타입의 매개변수

<class 'tuple'>
(1, 2, 3, 4)
1
2
3
4

In [66]:
args_test(list(range(4))) # ([0, 1, 2, 3],) <-- 하나의 요소(리스트) 한 가지만 가지므로 이와 같이 출력됨

<class 'tuple'>
([0, 1, 2, 3],)
[0, 1, 2, 3]

In [67]:
args_test([0, 1], [2, 3, 4])  # 1, 2 ==> (1, 2)

<class 'tuple'>
([0, 1], [2, 3, 4])
[0, 1]
[2, 3, 4]

In [68]:
# **kwargs : keyword arguments
# 딕셔너리 구조로 출력된다

def kwarg_test(**kwargs):
    print(type(kwargs))
    print(kwargs)
    for item in kwargs.items():
        print(item)


kwarg_test(a=1, b='hi')
# kwarg_test(x=[1,2,3], y='Hello')

<class 'dict'>
{'a': 1, 'b': 'hi'}
('a', 1)
('b', 'hi')

In [69]:
kwarg_test(x=[1,2,3], y='Hello')

<class 'dict'>
{'x': [1, 2, 3], 'y': 'Hello'}
('x', [1, 2, 3])
('y', 'Hello')

## 도전 코딩
- A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

> 함수를 사용하여 A 학급의 평균 점수를 구해 보자.
>> 함수명: average_class(A)

- for문 사용하여 평균 점수 도출

In [73]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
def average_class(A):
  sum = 0
  for i in A:
    sum += i
  return sum
sum = average_class(A)
print("평균 점수 : %d점" %(sum/len(A)))

평균 점수 : 79점

- return의 결과값에 평균 구하는 식을 설정하여 평균 점수 도출

In [58]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
def average_class(A):
  return (sum(A)/len(A))

print("평균 점수 : {0}".format(average_class(A)))

평균 점수 : 79.0