<a href="https://colab.research.google.com/github/Obliqueflo/py23/blob/master/notebook/ch5_exercises_py23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch5_exercises.ipynb

## Q1.
> 다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```
---
> 위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 
>> 즉 다음과 같이 동작하는 클래스를 만들어야 한다.
```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [1]:
# [Q1] Code  
class Calculator:
    def __init__(self):
        self.value = 0
 
    def add(self, val):
        self.value += val

class UpgradeCalculator(Calculator):
    def minus(self, val):
        self.value -= val

cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value)

3

## Q2.
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
```

- Calculator 클래스를 상속하고 add 메서드를 오버라이딩하여 MaxLimitCalculator 클래스를 만든다

In [2]:
# [Q2] Code
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val

class MaxLimitCalculator(Calculator):
    def add(self, val):
        self.value += val
        if self.value > 100:
          self.value = 100

cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력

100

## Q3.
> 다음 결과를 예측해 보자.

- 하나.
```
all([1, 2, abs(-3)-3])
```

- 둘.
```
chr(ord('a')) == 'a'
```

In [3]:
# [Q3] Code-1
all([1, 2, abs(-3)-3])

False

#### [Q3] Code-1 explanation
- 내장함수 abs(x)는 어떤 숫자를 입력받았을 때, 그 숫자의 절대값을 돌려주는 함수이므로 abs(3)은 3이 된다. 
> abs(-3)-3 ==> 0
- 내장함수 all(x)은 입력된 요소가 모두 참이면 True, 거짓이 하나라도 있으면 False를 반환
> all([1, 2, 0]) - 함수 all의 매개변수는 [1, 2, 0]이다. 리스트 요솟값 0을 False로 처리하므로 False가 반환된다.

In [4]:
# [Q3] Code-2
chr(ord('a')) == 'a'

True

#### [Q3] Code-2 explanation
- 내장함수 ord()는 특정 문자의 아스키 코드 값으로 변환해 주는 함수이다.
> ord('a')에서 'a'의 아스키 코드 값은 97이므로 chr(97)로 치환된다.
- 내장함수 chr()은 아스키 코드 값을 문자로 변환해 주는 함수이다. 
> chr(97)의 결과에서 다시 아스키 코드 값 97을 문자로 변환한 'a'가 된다. 결과로, 'a'=='a'가 되어 True를 반환한다.

## Q4.
> filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [5]:
# [Q4] Code-1
removal = list(filter(lambda x:x>0, [1, -2, 3, -5, 8, -3]))
print(removal)

[1, 3, 8]

In [6]:
# [Q4] Code-2
# 변수 numbers 사용한 코드 
numbers = [1, -2, 3, -5, 8, -3]
removal = list(filter(lambda x:x>0, numbers))
print(removal)

[1, 3, 8]

## Q5.
> 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.
```
hex(234)
'0xea'
```
> 이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.
>>※ 내장 함수 int를 활용해 보자.

In [7]:
# [Q5] Code
int('0xea', 16)

234

## Q6.
> map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [8]:
# [Q6] Code-1
list(map(lambda x:x * 3, [1, 2, 3, 4]))

[3, 6, 9, 12]

In [9]:
# [Q6] Code-2
# 변수 numbers 사용한 코드
numbers = [1, 2, 3, 4]
list(map(lambda x:x * 3, numbers))

[3, 6, 9, 12]

## Q7.
> 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.
>> [-8, 2, 7, 5, -3, 5, 0, 1]

- 리스트의 최댓값은 내장함수 max(), 최솟값은 내장함수 min()을 사용하여 구한다

In [10]:
# [Q7] Code
numbers = [-8, 2, 7, 5, -3, 5, 0, 1]
max(numbers) + min(numbers)

-1

## Q8.
> 17 / 3의 결과는 다음과 같다.
```
17 / 3
5.666666666666667
```
> 위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [58]:
# [Q8] Code
round(17/3, 4)

5.6667

## Q9.
> 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트

> (C:\doit\myargv.py)를 작성해 보자.
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```
>> ※ 외장 함수 sys.argv를 사용해 보자.

- sys 모듈의 argv를 사용하여 명령 행 입력값 모두를 차례로 더해준다

In [0]:
# [Q9] Code
import sys
numbers = sys.argv[1:] # 파일 이름을 제외한 명령 행의 모든 입력 
sum = 0                 
for number in numbers: 
    sum += int(number)  # int로 형변환을 해준다
print(sum)

In [0]:
run doit/myargv.py 1 2 3 4 5 6 7 8 9 10

## Q10.
> os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

1. ./doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

In [36]:
# [Q10] Code
import os  

os.chdir("/content/doit") 

result = os.popen("dir")  # os 모듈의 popend를 사용하여 시스템 명령어인 dir을 수행
print(result.read())

py23.py

## Q11.
> glob 모듈을 사용하여 ./doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [38]:
# [Q11] Code
import glob  # glob 모듈 사용
glob.glob("/content/doit/*.py")

['/content/doit/py23.py']

## Q12.
> time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

- 2018/04/03 17:20:32

In [19]:
# [Q12] Code-1
import time
time.strftime("%Y/%m/%d %H:%M:%S")
#################################
# %Y 년도
# %m 달
# %d 날
# %H 시간 (24시간 출력 상태)
# %M 분
# %S 초

'2020/06/13 15:28:07'

## Q13.
> random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [57]:
# [Q13] Code-1
import random

numbers = list(range(1, 46))
lotto = []

while len(lotto) < 6:
    num = random.choice(numbers)
    if not num in lotto:
        lotto.append(num)

print(lotto)

[1, 4, 13, 36, 31, 19]

In [55]:
# [Q13] Code-2
import random

numbers = random.randint(1,45)
lotto = []

for i in range(6):
    while numbers in lotto:
        numbers = random.randint(1,45)
    lotto.append(numbers)

lotto.sort()
print(lotto)

[2, 4, 20, 25, 34, 39]

In [56]:
# [Q13] Code-3
import random

lotto = []
while len(lotto) < 6:
    numbers = random.randint(1, 45)
    if number not in lotto:
        lotto.append(numbers)

print(lotto)

[39, 30, 9, 42, 23, 30]

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch5_exercises_id.ipynb