<a href="https://colab.research.google.com/github/Obliqueflo/py23/blob/master/notebook/mid_exam_py23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python 활용 중간고사 풀이

### 문제1)
- 다음 식의 연산 결과는?

In [1]:
a = 5   # 변수 a에 5를 대입
b = 5   # 변수 b에 5를 대입
a**5    # a^b, a의 b제곱을 나타내는 ** 연산자

3125

### Answer
- 125 (5^3 = 125)

### 문제 2)
- 다음 문자열 a에 대하여 슬라이싱을 한 결과는?
- a = "Life is too short, You need Python!"
- a[-16:-8]

In [2]:
a = "Life is too short, You need Python!"   # 변수 a에 "Life is too short, You need Python!" 문자열 대입
a[-16:-8]   #'You need' # a[-16]-->'Y'에서부터 a[-9]-->'d'까지를 슬라이싱, a[-8]은 포함하지 않는다

'You need'

### Correct Answer
- 'You need'

### Wrong Answers
- 'You need Python'
> a[19:-1]
- 'need Python'
> a[-12:-1]
- 'short, You'
> a[12:-13]

### 문제 3)
- 다음 list a의 인덱싱 결과는?
- a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
- a[3][-1][0]

In [3]:
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]  # 변수 a에 리스트 값을 설정([1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]] 리스트a 생성)
a[3][-1][0] # 'My'
            # 리스트 a의 네 번째 요소인 리스트 ['a', 'b', ['My', 'Life', 'Good']]에서 마지막 요소인 리스트 ['My', 'Life', 'Good']의 첫 번째 요소를 뜻한다

'My'

### Correct Answer
- 'My'

### Wrong Answers
- 'a'
> a[3][0]
- 'Life'
> a[3][2][1]
- 'Good'
> a[3][2][2]

### 문제 4)
- 다음 tuple t1의 슬라이싱 결과는?
- t1 = (0, 1, "s", "t", "u")
- t1[2:-2]

In [4]:
t1 = (0, 1, "s", "t", "u")  # 5개의 요소를 가진 튜플 t1 생성
t1[2:-2]  # ('s',) 
          # 튜플은 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 하므로 ('s',)가 출력
          # 튜플 t1의 두 번째 요소인 "s"부터 뒤에서 두 번째 요소인 "t"까지의 슬라이싱

('s',)

### Correct Answer
- ('s',)

### Wrong Answers
- ('s', 't')
> t1[2:-1]
- ('s', 't',)
> 위와 같은 데이터 타입으로 출력 결과값 나올 수 없음 
- ('s')
> 튜플은 1개의 요소만을 가질 때는 정답과 같이 요소 뒤에 콤마(,)를 반드시 붙여서 출력함

### 문제 5)
- 다음 bool값 출력 중 정확한 것은?
- bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))

In [5]:
bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))
# bool([0, 1, 2]) : 리스트 [0, 1, 2] 값이 있으므로 True를 돌려준다
# bool([0]) : 리스트 [0] 값이 있으므로 True를 돌려준다
# bool((0)) : (0)은 int타입의 그저 0이며 False 값인 0이므로 False를 돌려준다

(True, True, False, True)

### Answer
- (True, True, False, True)

### 문제 6)
- 다음 조건물을 1줄 코드로 변경하시오.

In [14]:
score = 80  # 변수 score에 80 대입
if score >= 60: # score의 값이 60 이상이면
  message = "success" # 변수 message에 문자열 "success"대입
else: # 조건문에 부합하지 않으면
  message = "failure" # 변수 message에 문자열 "failure" 대입

print(message)  # success 출력

success

### Correct Answer
- if 문을 한 줄로 작성) if문 다음 수행할 문장을 콜론(:) 뒤에 바로 적어주었으며 else문 역시 동일하다.
- message = "success" if score >= 60 else "failure"
> success

### Wrong Answers
- message = "failure" if score >= 60 else "success"
> failure 출력되므로 오답
- message = "failure" if score >= 60 then "success"
> SyntaxError: invalid syntax
- message = "success" if score >= 60 then "failure"
> SyntaxError: invalid syntax

### 문제 7)
- 다음 코드의 실행 결과는?

In [16]:
games = ["A", "B", "C"] # 변수 game에 ["A", "B", "C"] 리스트 생성

for cnt in range(len(games)): # len 함수는 리스트 안의 요소 개수를 돌려주는 함수-->len(games)는 3가 되고 range(len(games))는 range(3)가 된다.
                              # 0부터 3미만의 숫자를 포함하여 cnt 변수에는 차례로 0부터 2까지의 숫자가 대입될 것이고, 
                              #그에따라  games[cnt]는 차례대로 "A", "B", "C" 값이 할당된다.
  print(cnt, games[cnt], end = ',') # end 속성 문자열(,)을 붙이고 다음 결과물을 출력해 나간다

0 A,1 B,2 C,

### Answer
- 0 A,1 B,2 C,

### 문제 8)
- 다음의 결과가 출력되지 않는 것은?
- 'I ate 10 apples, so I was sick for three days."

In [17]:
# code start
number = 10 # 변수 number에 10 대입
day = "three" # 변수 day에 문자열 "three" 대입

"I ate {0} apples. so I was sick {1} days.".format(10, day)
# format 함수를 사용한 포매팅 : 문자열 중 {0} 항목이 10으로, {1} 항목이 day 변수 값인 "three"로 바뀐다

f"I ate {number} apples. so I was sick for {day} days."
# f문자열 포매팅 : 변수 값 number, day 생성 후 {number} 항목, {day} 항목이 그 값을 참조한다.

f"I ate {number} apples. so I was sick for {'three'} days."
# f 문자열 포매팅 : {number} 항목은 변수 값 참조가 되고, {'three'} 부분은 그대로 지정된다

"I ate {0} apples. so I was sick for {1} ays.".format(number=10, day)
# SyntaxError: positional argument follows keyword argument
# format 함수에 (number, day)와 같이 변수 값의 튜플 형태로 지정해야한다

SyntaxError: ignored

### Correct Answer
- "I ate {0} apples. so I was sick for {1} ays.".format(number=10, day)
> SyntaxError: positional argument follows keyword argument

### Wrong Answers
- "I ate {0} apples. so I was sick {1} days.".format(10, day)
> 'I ate 10 apples. so I was sick for three days.'
- f"I ate {number} apples. so I was sick for {day} days."
> 'I ate 10 apples. so I was sick for three days.'
- f"I ate {number} apples. so I was sick for {'three'} days."
> 'I ate 10 apples. so I was sick for three days.'

### 문제 9)
- 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.
- 5 + 10 + 15+ 20 + 25 + ..... + 955 + 960 + 965 + 970 + 975 + .... + 995 + 1000 = ?

In [18]:
sum([num for num in range(1, 1001) if num % 5 == 0]) 
# num 변수에 차례로 0부터 1000까지의 숫자가 대입될 것이고, 
# sum 함수에서 5의 배수인 num 값을 더해 나간다

100500

### Correct Answer
- sum([num for num in range(1, 1001) if num % 5 == 0])
> 100500

### Wrong Answers
- sum([num for num in range(1, 1000) if num % 5 == 0])
> 99500 출력 : range(시작 숫자, 끝 숫자) 형태를 사용하는데, 이때 끝 숫자는 포함되지 않으므로 0부터 999까지만 더해진다
- len([num for num in range(1, 1000) if num % 5 == 0])
> 199 출력 : len 함수로 0부터 999까지의 숫자에서의 5의 배수의 갯수를 counting 하여 출력한다
- len([num for num in range(1, 1001) if num % 5 == 0])
> 200 출력 : len 함수로 0부터 1000까지의 숫자에서의 5의 배수의 갯수를 counting 하여 출력한다

### 문제 10)
- 4개의 과목의 평균 성적을 구하시오. [a], [b]에 적합한 코드는?

In [0]:
# 주어진 문제 10의 코드
subjects = ['python','english','math','science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in [a].______(subjects, scores):
  total += score
  print(subject, score)

print("평균 점수 = (0)".format([b]._______))

### Correct Answer
- zip, total/len(subjects)

In [20]:
subjects = ['python','english','math','science']         
scores = [88, 77, 66, 95]
total = 0
# Python의 내장함수인 zip()은 같은 길이의 리스트를 같은 인덱스끼리 분할하여 리스트 형태로 반환 해준다
# for문을 이용하여 여러 개의 리스트에서 값을 가져와서 처리해준다
for subject, score in zip(subjects, scores):  # zip()으로 리스트subjects의 값들, scores리스트의 값들이 차례로 각각 subject, score에 대입된다
  total += score
  print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects)))  # format함수로 total 값을 len(subjects)-->4(리스트 항목 갯수)로 나눈 값인 '평균값'이 {0} 항목에 할당된다

python 88
english 77
math 66
science 95
평균 점수 = 81.5

### Wrong Answer1
- enumerate, scores/len(subjects)

In [21]:
subjects = ['python','english','math','science']         
scores = [88, 77, 66, 95]
total = 0

for subject, score in enumerate(subjects, scores):  # TypeError: 'list' object cannot be interpreted as an integer
                                                    # 인덱스를 자동으로 추가해주는 enumerate() 함수의 형태가 아닌, 
                                                    # 두 리스트의 같은 인덱스의 원소끼리 묶어 사용하는 zip() 함수의 형태를 사용하여 오류 발생
  total += score
  print(subject, score)

print("평균 점수 = {0}".format(score/len(subjects)))

TypeError: ignored

### Wrong Answer2
- zip, scores/len(subjects)

In [22]:
subjects = ['python','english','math','science']         
scores = [88, 77, 66, 95]
total = 0

for subject, score in zip(subjects, scores): 
  total += score
  print(subject, score)

print("평균 점수 = {0}".format(len(subjects)))  # format함수를 사용한 포매팅 : 리스트subjects의 항목 갯수를 counting 하여 {0} 항목에 할당한다

python 88
english 77
math 66
science 95
평균 점수 = 4

### Wrong Answer3
- enumerate, total/len(subjects)

In [23]:
subjects = ['python','english','math','science']         
scores = [88, 77, 66, 95]
total = 0

for subject, score in enumerate(subjects, scores):  # TypeError: 'list' object cannot be interpreted as an integer
                                                    # Wrong Answer1과 같은 오류로 인덱스를 자동으로 추가해주는 enumerate() 함수의 형태가 아닌, 
                                                    # 두 리스트의 같은 인덱스의 원소끼리 묶어 사용하는 zip() 함수의 형태를 사용하여 오류 발생
  total += score
  print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects)))

TypeError: ignored